.item__item {
  padding: 10px 0;
  border-top: solid 1px #ddd;
  min-height: 30px;
  line-height: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item__checkbox {
  flex-shrink: 0;
  margin: 9px auto;
}

.item__title {
  flex-grow: 1;
  word-wrap: break-word;
  padding: 0px 10px;
  max-width: 323px;
}

.item__btn--red {
  background: #fe2260;
  text-transform: uppercase;
}

.item__btn--red:hover {
  background: #d81e52;
}

.item__title--complete {
  text-decoration: line-through;
}

.item__btn {
  color: #fff;
  padding: 5px 15px;
  margin: 0 0 0 3px;
  border: none;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
  text-transform: uppercase;
  vertical-align: bottom;
}
